mat-card-content {
  padding-top: 16px;

  form {
    display: flex;
    justify-content: space-between;
    padding: 16px;

    mat-form-field {
      width: 40%;
    }
  }
  .results {
    margin: 16px;
  }
}
