<mat-card>
    <mat-card-header>
        <mat-card-title>Conversor de bases numéricas</mat-card-title>
        <mat-card-subtitle>Realize a conversão de um valor na base escolhida para inúmeras bases numéricas.
        </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form [formGroup]="convertForm">
            <mat-form-field>
                <mat-label>Selecione a base</mat-label>
                <mat-select (selectionChange)="onBaseChange($event)" formControlName="base">
                    <mat-option value="binary">Binário</mat-option>
                    <mat-option value="decimal">Decimal</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Valor</mat-label>
                <input matInput formControlName="value" [patterns]="customPatterns" [mask]="maskPattern">
            </mat-form-field>
        </form>
        <mat-divider></mat-divider>
        <div class="results " *ngIf="this.convertForm.dirty && (this.binaryResult || this.decimalResult)">
            <h2>Resultado</h2>
            <p *ngIf="this.convertForm.get( 'base')?.value !=='binary'">
                Binário: {{this.binaryResult}}
            </p>
            <p *ngIf="this.convertForm.get( 'base')?.value !=='decimal'">
                Decimal: {{this.decimalResult}}
            </p>
        </div>

        <p>
            {{this.convertForm.errors}}
        </p>
    </mat-card-content>
</mat-card>